<h2><%= @job.name %></h2>
<div class="row">
  <div class="span4">
    <strong>Город:</strong> <%= @job.location %>
  </div>
</div>
<div class="row">
  <div class="span8">
    <strong>Описание:</strong></br>
    <%= @job.description %>
  </div>
</div>
<div class='row'>
  <div class='span8'>
    <%= link_to 'Задать вопрос', new_job_comment_path(@job) %>
    <%= render 'comments' %>
  </div>
</div>
